
    .section {
      padding: 72px 0
    }

    .section-title {
      position: relative;
    }

    .section-title h2 {
      font-weight: 800;
      letter-spacing: .3px
    }

    .section-title .bar {
      width: 90px;
      height: 4px;
      background: linear-gradient(90deg, var(--brand), var(--brand-2));
      border-radius: 8px
    }